@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
  --font-size: 14vw;
  --line-height: calc(0.95 * var(--font-size));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgb(1, 121, 190) 0%,
    rgb(167, 216, 252) 30%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 50%,
    rgb(167, 216, 252) 60%,
    rgb(0, 22, 49) 100%
  );
  display: grid;
  place-items: center;
}

h1 {
  position: relative;
}

h1::before,
h1::after {
  content: attr(data-text);
  position: absolute;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-transform: uppercase;
  letter-spacing: calc(var(--font-size) * 0.1);
  transform: translate(-50%, -100%);
}

h1::after {
  transform-style: preserve-3d;
  transform: translate(-50%, 0) rotateX(180deg);
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    transparent 16%,
    #000
  );
  mask-image: linear-gradient(
    transparent 0%,
    transparent 16%,
    #000
  );
}
